.Navbarholder
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    background: #303030	;
}

.navbarbtn
{
	border: none;
	color: orange;
	background: none;
	padding: 5px;
	margin: 10px;
	text-align: center;
	font: 1em "roboto", sans-serif;
	height: 50px;
  	line-height: 50px;
  	cursor: pointer;
	outline: none;
}

.home
{
    height: 0;
    opacity: 0;
}

.search
{
    height: 0;
    opacity: 0;
}

.user
{
    height: 0;
    opacity: 0;
}

.shown
{
    height: calc(100vh - 75px);
    opacity:100;
}

.form-control{
    margin: 15px;
    width: 500px;
}

p
{
    color: white;
    font-size: 1.5rem;
    width: calc(100vw - (400px));
    margin: 0;
}